## 더미 데이터 넣어서 프레임 구조 확인

In [3]:
import pandas as pd
from pprint import pprint

sample_data=pd.read_json('../data/sample_dummy.json')

df = pd.DataFrame(sample_data)
pprint(df.head())

         title job_group job_subgroup employment_type location   salary  \
0   백엔드 개발자 채용        IT          백엔드             정규직  서울시 강남구  4,000만원
1  프론트엔드 인턴 모집        IT        프론트엔드              인턴  서울시 마포구  월 150만원
2      데이터 분석가       데이터        데이터분석             정규직   경기 성남시  3,500만원
3       마케팅 인턴       마케팅       콘텐츠마케팅              인턴  부산 해운대구  월 130만원
4      백엔드 개발자        IT          백엔드             정규직  서울시 종로구       협의

  career education    deadline   company_tags
0  3년 이상        대졸  2025-05-10   [유연근무, 자율복장]
1     무관        무관  2025-04-25  [스타트업, 점심 제공]
2  1년 이상        대졸  2025-05-01        [AI 기업]
3     무관        무관  2025-04-30        [MZ 기업]
4     무관      초대졸↑  2025-05-15         [복지카페]

## 지역별 채용 공고 수 분포

In [12]:
#'시' column 새로 만듦
df['city'] = df['location'].apply(lambda x: x.split()[0])
city_counts = df['city'].value_counts()
print(city_counts)

city
서울시    6
경기     3
부산     2
대전     1
인천     1
대구     1
세종시    1
Name: count, dtype: int64

### 지역별 직군 분포 테이블

In [13]:
city_job_dist = pd.crosstab(df['city'],df['job_group'])
print(city_job_dist)

job_group  IT  경영지원  데이터  디자인  마케팅
city
경기          1     0    1    1    0
대구          0     1    0    0    0
대전          0     0    1    0    0
부산          1     0    0    0    1
서울시         3     1    1    1    0
세종시         0     0    1    0    0
인천          0     0    0    0    1

## 고용 형태 분포 확인

In [4]:
print(df['employment_type'].value_counts())

employment_type
정규직    8
인턴     4
계약직    3
Name: count, dtype: int64

### 직군별 고용 형태 분포 테이블

In [ ]:
job_employment_dist = pd.crosstab(df['job_group'],df['employment_type'])
print(job_employment_dist)

employment_type  계약직  인턴  정규직
job_group
IT                 1   1    3
경영지원               1   1    0
데이터                1   1    2
디자인                0   0    2
마케팅                0   1    1

### 하위 직군별 고용 형태 분포 테이블
* job_group > job_subgroup 
* 계층적으로 고용형태 분포

In [ ]:
subjob_employment_dist = pd.crosstab([df['job_group'],df['job_subgroup']],df['employment_type'])

print(subjob_employment_dist)

employment_type         계약직  인턴  정규직
job_group job_subgroup
IT        백엔드             1   0    2
          프론트엔드           0   1    1
경영지원      인사/총무           1   1    0
데이터       데이터리서치          1   0    0
          데이터분석           0   1    1
          데이터엔지니어링        0   0    1
디자인       UI/UX           0   0    1
          그래픽디자인          0   0    1
마케팅       브랜드마케팅          0   0    1
          콘텐츠마케팅          0   1    0

## 경력 사항 분포 확인

In [7]:
print(df['career'].value_counts())

career
무관       7
1년 이상    3
2년 이상    3
3년 이상    1
4년 이상    1
Name: count, dtype: int64

### 직군별 경력 사항 분포 테이블

In [8]:
job_career_dist = pd.crosstab(df['job_group'],df['career'])
print(job_career_dist)

career     1년 이상  2년 이상  3년 이상  4년 이상  무관
job_group
IT             1      1      1      0   2
경영지원           0      0      0      0   2
데이터            2      0      0      1   1
디자인            0      1      0      0   1
마케팅            0      1      0      0   1

### 하위 직군별 경력 사항 분포 테이블
* job_group > job_subgroup 
* 계층적으로 경력사항 분포

In [9]:
subjob_career_dist = pd.crosstab([df['job_group'],df['job_subgroup']],df['career'])
print(subjob_career_dist)

career                  1년 이상  2년 이상  3년 이상  4년 이상  무관
job_group job_subgroup
IT        백엔드               1      0      1      0   1
          프론트엔드             0      1      0      0   1
경영지원      인사/총무             0      0      0      0   2
데이터       데이터리서치            1      0      0      0   0
          데이터분석             1      0      0      0   1
          데이터엔지니어링          0      0      0      1   0
디자인       UI/UX             0      1      0      0   0
          그래픽디자인            0      0      0      0   1
마케팅       브랜드마케팅            0      1      0      0   0
          콘텐츠마케팅            0      0      0      0   1